<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Guitar House</title>
	<link rel="shortcut icon" href="../img/favicon.png">

<!-- LINK DE CSS -->

<link rel="stylesheet" href="../css/style.css">


</head>
<body>

		<!-- ARRANCA CONTENEDOR -->

<div class="grid-gtryacc">

	<nav class="nav">

		<div class="logo">

			<a href="../index.html">
			<img src="../img/logo.png" alt="logo de guitar house">
			</a>
		</div>

		<ul class="main-nav">
			<li><a href="../view/nosotros.html">Nosotros</a></li>
			<li><a href="../view/guitarras.html">Guitarras</a></li>
			<li><a href="../view/accesorios.html">Accesorios</a></li>
			<li><a href="../view/contacto.html">Contacto</a></li>
		</ul>
	</nav>
	<header class="header text-center">
		<h1>Accesorios para Guitarras</h1>
	</header>
	<main>
	<div class="filtros">

		<div class="fontsize">
		<form>
			<select>
				<option value="">Accesorios</option>
				<option value="">Guitarras</option>
			</select>
		</form>

		<br>

		<span><b>Accesorios</b></span>
		<br><br>
			<ul>
				<li>Afinadores</li>
				<li>Puas</li>
				<li>Correas</li>
				<li>Cables</li>
				<li>Fundas</li>
				<li>Cuerdas</li>
			</ul>
		</div>	

	</div>	
	</main>
	<div class="productos">

		<section class="produ">
			<figure>
				<img src="../img/afinador.jpg" alt="Imagen de afinador">
				<figcaption>Afinador de guitarra</figcaption>
				<p>$1000</p>
			</figure>

			<figure>
				<img src="../img/puas.jpg" alt="Imagen de puas">
				<figcaption>Puas para guitarra</figcaption>
				<p>$25</p>
			</figure>

			<figure>
				<img src="../img/Cableguitarra.jpg" alt="Imagen de afinador">
				<figcaption>Cables de guitarra</figcaption>
				<p>$500</p>
			</figure>

			<figure>
				<img src="../img/fundas.jpg" alt="Imagen de puas">
				<figcaption>Fundas de guitarra</figcaption>
				<p>$2500</p>
			</figure>

			<figure>
				<img src="../img/afinador.jpg" alt="Imagen de afinador">
				<figcaption>Afinador de guitarra</figcaption>
				<p>$1000</p>
			</figure>

			<figure>
				<img src="../img/puas.jpg" alt="Imagen de puas">
				<figcaption>Puas para guitarra</figcaption>
				<p>$25</p>
			</figure>

			<figure>
				<img src="../img/Cableguitarra.jpg" alt="Imagen de afinador">
				<figcaption>Cables de guitarra</figcaption>
				<p>$500</p>
			</figure>

			<figure>
				<img src="../img/fundas.jpg" alt="Imagen de puas">
				<figcaption>Fundas de guitarra</figcaption>
				<p>$2500</p>
			</figure>

			<figure>
				<img src="../img/afinador.jpg" alt="Imagen de afinador">
				<figcaption>Afinador de guitarra</figcaption>
				<p>$1000</p>
			</figure>

			<figure>
				<img src="../img/puas.jpg" alt="Imagen de puas">
				<figcaption>Puas para guitarra</figcaption>
				<p>$25</p>
			</figure>

			<figure>
				<img src="../img/Cableguitarra.jpg" alt="Imagen de afinador">
				<figcaption>Cables de guitarra</figcaption>
				<p>$500</p>
			</figure>

			<figure>
				<img src="../img/fundas.jpg" alt="Imagen de puas">
				<figcaption>Fundas de guitarra</figcaption>
				<p>$2500</p>
			</figure>

		</section>

	</div>
	

	<footer class="foot">
		<div class="footer">
			<a href="https://www.instagram.com/" target="_blank">
			<img src="../img/instagram.png" alt="Link de instagram">
			</a>
			<a href="https://web.whatsapp.com//" target="_blank">
			<img src="../img/whatsapp.png" alt="Link de whatsapp">
			</a>
			<a href="guitarhouse@mail.com//" target="_blank">
			<img src="../img/mail.png" alt="Mail de guitar house">
			</a>
		</div>
	</footer>

</div> <!-- TERMINA CONTENEDOR -->

</body>
</html>