<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Guitar House</title>
	<link rel="shortcut icon" href="../img/favicon.png">


<!-- LINK DE CSS -->

<link rel="stylesheet" href="../css/style.css">


</head>
<body>
			<!-- ARRANCA CONTENEDOR -->

<div class="grid-gtryacc">

	<nav class="nav">

		<div class="logo">

			<a href="../index.html">
			<img src="../img/logo.png" alt="logo de guitar house">
			</a>
		</div>

		<ul class="main-nav">
			<li><a href="../view/nosotros.html">Nosotros</a></li>
			<li><a href="../view/guitarras.html">Guitarras</a></li>
			<li><a href="../view/accesorios.html">Accesorios</a></li>
			<li><a href="../view/contacto.html">Contacto</a></li>
		</ul>
	
	</nav>

	<header class="header text-center">
		<h1 class="header text-center">Destacados del mes</h1>
	</header>

	<main>

	<div class="filtros">

		<div class="fontsize">

		<form>
			<select>
				<option value="">Guitarras</option>
				<option value="">Accesorios</option>
			</select>
		</form>

		<br>

		<span><b>Guitarras</b></span>
		<br><br>
			<ul>
				<li>Guitarras Elèctricas</li>
				<li>Guitarras Acùsticas</li>
				<li>Guitarras Criollas</li>
			</ul>

		</div>	

	</div>	

   </main>

	<div class="productos">

		<section class="produ">

			<figure>
				<img src="../img/guitaracustic.jpg" alt="Imagen de guitarra acustica">
				<figcaption>Guitarra Acústica</figcaption>
				<p>$12000</p>
			</figure>

			<figure>
				<img src="../img/guitarelect.jpg" alt="Imagen de guitarra Eléctrica">
				<figcaption>Guitarra Eléctrica</figcaption>
				<p>$30000</p>
			</figure>

			<figure>
				<img src="../img/guitarcriolla.jpg" alt="Imagen de Guitarra Criolla">
				<figcaption>Guitarra Criolla</figcaption>
				<p>$10000</p>
			</figure>
			
			<figure>
				<img src="../img/guitaracustic.jpg" alt="Imagen de guitarra acustica">
				<figcaption>Guitarra Acústica</figcaption>
				<p>$12000</p>
			</figure>

			<figure>
				<img src="../img/guitarelect.jpg" alt="Imagen de guitarra Eléctrica">
				<figcaption>Guitarra Eléctrica</figcaption>
				<p>$30000</p>
			</figure>

			<figure>
				<img src="../img/guitarcriolla.jpg" alt="Imagen de Guitarra Criolla">
				<figcaption>Guitarra Criolla</figcaption>
				<p>$10000</p>
			</figure>

			<figure>
				<img src="../img/guitaracustic.jpg" alt="Imagen de guitarra acustica">
				<figcaption>Guitarra Acústica</figcaption>
				<p>$12000</p>
			</figure>

			<figure>
				<img src="../img/guitarelect.jpg" alt="Imagen de guitarra Eléctrica">
				<figcaption>Guitarra Eléctrica</figcaption>
				<p>$30000</p>
			</figure>

			<figure>
				<img src="../img/guitarcriolla.jpg" alt="Imagen de Guitarra Criolla">
				<figcaption>Guitarra Criolla</figcaption>
				<p>$10000</p>
			</figure>
			
			<figure>
				<img src="../img/guitaracustic.jpg" alt="Imagen de guitarra acustica">
				<figcaption>Guitarra Acústica</figcaption>
				<p>$12000</p>
			</figure>

			<figure>
				<img src="../img/guitarelect.jpg" alt="Imagen de guitarra Eléctrica">
				<figcaption>Guitarra Eléctrica</figcaption>
				<p>$30000</p>
			</figure>

		</section>

	</div>

	

	<footer class="foot">
		<div class="footer">
		<a href="https://www.instagram.com/" target="_blank">
			<img src="../img/instagram.png" alt="Link de instagram">
		</a>
		<a href="https://web.whatsapp.com//" target="_blank">
			<img src="../img/whatsapp.png" alt="Link de whatsapp">
		</a>
		<a href="guitarhouse@mail.com//" target="_blank">
			<img src="../img/mail.png" alt="Mail de guitar house">
		</a></div>
	</footer>

</div> <!-- TERMINA CONTENEDOR -->
</body>
</html>