<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Guitar House</title>
	<link rel="shortcut icon" href="../img/favicon.png">

	<!-- COMIENZO DE CSS -->

<link rel="stylesheet" href="../css/style.css">

</head>
<body>
	<!-- ARRANCA CONTENEDOR -->

<div class="grid-background">

	<nav class="nav">

		<div class="logo">

			<a href="../index.html">
			<img src="../img/logo.png" alt="logo de guitar house">
			</a>
		</div>

		<ul class="main-nav">
			<li><a href="../view/nosotros.html">Nosotros</a></li>
			<li><a href="../view/guitarras.html">Guitarras</a></li>
			<li><a href="../view/accesorios.html">Accesorios</a></li>
			<li><a href="../view/contacto.html">Contacto</a></li>
		</ul>
	</nav>
	<header>
		
	</header>
	<main class="main novedades__nosotros">
		<h1 class="text-center">Quienes Somos</h1>
		<br><br><br>
		<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime, ullam dicta vitae ex non veniam, odit impedit tempora reprehenderit nesciunt atque sint consequatur repellendus deserunt modi officiis nisi unde sit.</p>
		<br><br><br>
		<h2 class="text-center">Nuestra historia</h2>
		<br><br><br>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo doloremque, quisquam aliquam cumque fuga veritatis <span class="text-red">eaque quam ea officiis</span> fugiat, quas molestias accusamus unde recusandae, porro hic itaque nulla optio!
		Ex repellat, ipsam nobis ipsa officiis odio iusto quia distinctio, quo ducimus excepturi aliquam quisquam nihil inventore. Expedita, placeat. Recusandae porro officiis ea illum dignissimos inventore, voluptates, tenetur qui cum?</p>
		<br><br><br>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim commodi cupiditate modi voluptatibus corporis quaerat illo molestias tenetur! In distinctio delectus officia, aut, velit molestias at sunt ipsum quis tempora.</p>
	</main>
	<footer class="foot">
		<div class="footer">
			<a href="https://www.instagram.com/" target="_blank">
			<img src="../img/instagram.png" alt="Link de instagram">
			</a>
			<a href="https://web.whatsapp.com//" target="_blank">
			<img src="../img/whatsapp.png" alt="Link de whatsapp">
			</a>
			<a href="guitarhouse@mail.com//" target="_blank">
			<img src="../img/mail.png" alt="Mail de guitar house">
			</a>
		</div>
	</footer>

</div> <!-- TERMINA CONTENEDOR -->
</body>
</html>